*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
@font-face {
    font-family: myFont;
    src: url(graffonti.atomic.bomb.[fontvir.us].ttf)format('truetype');
}
@font-face {
    font-family: deuce;
    src: url(Urban\ Calligraphy.ttf) format('truetype');
}
@font-face {
    font-family: thrice;
    src: url(Starborn.ttf) format('truetype');
}
.title-text{
    font-family: myFont;
    display:flex;
}
body{
    height: 100vh;
    width: 100vw;
    padding: 100px;
    background-color: grey;
}
.logo-img{
    width:4rem;
}
.period{
    color:rgb(187, 94, 0);
    font-size: 10px;
}

.left-corner{
    display: flex;
    align-items: center;
    top: 10px;
    left: 10px;
    width: auto;
    position: absolute;
    
}

.well-text .club {
    color:rgb(187, 94, 0);
    text-transform: uppercase;
  }

.well-text{
    font-size: 1rem;
    text-transform: uppercase;
    font-family: thrice;
}
.page{
    /*design for the resume conatiner*/
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: tan;
    align-items: center;
    justify-content: center;
    position:relative;
   
    
    
}
.nav-items{
    font-family: thrice;
    text-align:center;
    padding-top: 30px;
    margin-left:12px;
    top: 0;
    font-size: 1rem;
    color: black;
    text-transform:uppercase;
    font-weight:bold;
    margin-bottom: auto;
    position: absolute;
    
}

:root{
    --primary: navy;
    --seconday: rgb(187, 94, 0);
    --light: white;
    --font-stack: "Arial";

}
.menu-wrapper{
    position:absolute;
    top:15px;
    right:15px;
    width:50px;
    height:50px;
    box-sizing:border-box;
}
.menu-wrapper .toggle{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;

    z-index: 999;
    opacity: 0;
    cursor:pointer;
}
.menu-wrapper .hamburger{
    width:50px;
    height: 50px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 998;
    
   
    
    display: flex;
    justify-content: center;
    box-sizing: border-box; 
}
.menu-wrapper .hamburger .bar{
    position: relative;
    width: 100%;
    height: 3px;
    background: var(--primary);
    z-index: 5;
    transition: all 1s linear;
    
}

.menu-wrapper .hamburger .bar::before,
.menu-wrapper .hamburger .bar::after{
    content:'';
    position: absolute;
    top:-10px;
    height: 3px;
    width: 100%;
    background: var(--primary);
    transition: all .5s linear;
}
.menu-wrapper .hamburger .bar::after{
    top: 10px;
}
.menu-wrapper .toggle:hover + .hamburger{
    transform: rotate(-25deg);
    background: grey;
    border-radius: 50%;
    transition: all .5s linear;
}
.menu-wrapper .toggle:checked + .hamburger{
    transform: rotate(45deg);
    transition: all .5s linear;
}
.menu-wrapper .toggle:checked:hover + .hamburger{
    transform: rotate(135deg);
    transition: all .5s linear;
}
.menu-wrapper .toggle:checked + .hamburger .bar::before,
.menu-wrapper .toggle:checked + .hamburger .bar::after{
   top: 0;
   transform: rotate(90deg);
   transition: all 1s linear;
}
.menu{
    position:relative;
    top: 0;
    right:  0;
    
    
    width:0;
    height: 0;
    overflow: hidden;
    background: darkslategray;
    z-index: 1;
    transition: all 0.3s ease;
    display: flex;
    justify-content: absolute;
    align-content:center;

}
.menu ul li{
    color: orange;
    font-size:13px;
    list-style-type: none;
    text-align: center;
    margin:0;
    cursor: pointer;
    margin-top: 50px;
    box-sizing: 15px;
    border-bottom:2px solid transparent;
    font-family: thrice;

    
}
.menu ul li:hover{
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}
.menu-wrapper .toggle:checked + .hamburger + .menu{
    opacity: 1;
    width: auto;
    height: 45vh;
    transition: all 0.5s ease;
    
}
/*#container{
    display: flex;
    background-color:beige;
    margin-right: 0px;
    margin-top:590px;
    position: absolute;
    bottom:0px;
    width: auto;
    
    

}
#container div{
    background-color: navy;
    color: white;
    margin: 10px;
    width: 400px;
    padding: 100px; 
    height: 300px;
}*/

.btm-div1{
    display: flex;
    background-color:rgb(1, 1, 64);
    display: block;
    width: 48%;
    height: 200px;
    margin-right: 20px;
    right: 0;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    color:orange;
    text-align: center;
}
.btm-div2{
    display: flex;
    background-color:rgb(1, 1, 64);
    left: 0;
    margin-top:540px;
    position: absolute;
    width: 45%;
    height: 270px;
    display:block;
    position: absolute;
    bottom: 0;
    margin-left:20px;
    border-radius: 20px;
    color:orange;
    text-align: center; 
}
.rnd{
    background-color:white;
    border-style: solid;
    border-width:5px;
    border-radius: 20px;

}
.mid1{
    display: flex;
    align-items: center;
    width:10%;
    color: orange;
    position: absolute;
    margin-right: 900px;
    width: 50%;
    height: 60px;
    text-align: center;
    margin-top: 130px;


}
.mid2{
    display: flex;
    color:navy;
    width: 50%;
    margin-left:700px;
    height: 60px;
    text-align: center;
    margin-top: 130px;
    position:absolute;
}
.model-img{
    display:flex;
    align-items: center;
    z-index: 1;
    width: 40vw;
    height: 90vh;
    position: absolute;
    bottom:0;
    margin-left:100px;
}
.moon{
    align-items: center;
    z-index: 3;
    position: absolute;
    width: 100px;
    height: auto;
    left:500px;
    margin-bottom: 200px;
}
.well-title{
    display:flex;
    align-items: center;
    position: absolute;
    top:0;
    font-size: 200px;
    left:70px;
    color: rgb(2, 56, 2);
    margin-top: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.club-title{
    position:absolute;
    color:rgb(187, 94, 0);
    display:flex;
    right: 90px;
    font-size: 150px;
    bottom: 360px;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    
}
.fvr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 100px;
    top: 250px;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
  }
  
  .fvr-title, .fvr-subtitle {
    margin: 0;
    color: navy;
    top: 0;
    font-size: 80px;
  }
  .lovers{
    position:absolute;
    font-family: deuce;
    font-size: 120px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   
    margin-bottom: 260px;
    z-index: 3;
    margin-left: 480px;
    color: white;
    font-weight: 100;
  }
.num{
    font-size: 30px;
    align-items: center;
    position: absolute;
    font-family: thrice;

  }
.uno{
    margin-left:10px;
    font-family: thrice;

  }
.deuce{
    margin-left: 620px;
    margin-top: 7px;
    position: absolute;

  }
.mid1,li{
    list-style-type: none;
    margin-left: 200px;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1;
    font-family: thrice;
}

.lst{
    list-style-type: none;
    margin-left:400px;
    font-size: 25px;
    line-height: 1;
}

.para{
    text-align:left;
    margin-left: 10px;
    padding-top:0px;
    color:white;
    word-spacing:5px;
    text-transform: none;
    font-family: thrice;
    font-size: 12px;


}
.mthr-earth{
    font-family: thrice;
    margin-right:50px;  
    text-align: left;
    word-spacing: -1px;
    text-transform: uppercase;
    color:rgb(15, 15, 247);
    margin-bottom: 10px;
    font-size: 18px;
    
}
.brnd{
    font-size: 40px;
    font-family: thrice;
    margin-top: 25px;
    color:rgb(238, 179, 0);
    margin-left:0px;  
    text-align: left;
    word-spacing: -1px;

    text-transform: uppercase;
    
    
}
.dte-time{
    text-align: right;
    margin-right:200px;
    z-index: 3;
    font-family: thrice;

}
.time{
    font-size: 60px;
    z-index: 2;
    color:white;
    padding-top: 15px
}
.date{
    font-size: 40px;
    z-index: 2;
}
.btm-div3{
    position:absolute;
    background-color:rgb(187, 94, 0);
    width:12%;
    height:90%;
    z-index:2;
    margin-left: 610px;
    border-radius: 10%;
    margin-top: 20px;
    
}
.scroll{
    transform:rotate(-90deg);
    text-transform: uppercase;
    font-size:18px;
    margin-top: 95px;
    font-family: thrice;
    
}
.sunn{
    width: 50px;
    margin-left: 40px;
    margin-top: 20px;
    position: absolute;
}
.fa-star{
    position: absolute;
    color: navy;
    margin-left: 400px;
}
.fa-moon{
    position: absolute;
    margin-left: 350px;
    font-size: 30px;
    margin-top: 9px;
    color:rgb(187, 94, 0);
}

/*@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
.moving-element {

    animation: bounce 1.5s linear infinite;
  }*/
  
  /* Adjust animation timing based on audio playback */
/*@keyframes music-sync {
    0% {
      animation-delay: 0s;
    }
    50% {
      animation-delay: -1s;
    }
    100% {
      animation-delay: 0s;
    }
  }
  
  #myAudio {
    animation: music-sync 1.5s linear infinite;
  }*/
  
